@import '../helpers/animation.scss';
@import '../helpers/flex-mixin.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
$font-gray: #A9A9A9;
$main-bg-color: white;
$sub-bg-color: #e8ebef;
$border-color: #f1f1f1;
$main-color-hover: #B98B59;

$small-dev: 576px;
$big-screen: 1680px;
$medium-dev: 992px;

* {
	box-sizing: border-box; //include border and padding in total width and height of the all elements
}

body {
	font-family: 'Monserrat', sans-serif;
	@include flexbox();
	@include flex-direction(column); //column flow
	@include align-items(stretch); //items inside are stretched to fit the container
	@include justify-content(flex-start); //The justify-content property aligns the flexible container's items when the items do not use all available space on the main-axis
	@include align-content(flex-start); //The align-content property modifies the behavior of the flex-wrap property. It is similar to align-items, but instead of aligning flex items, it aligns flex lines.
	@media (min-width: $big-screen) {
		margin-bottom: 7%; //bug with dissapearing footer corrected for big screens
	}
	.my-jumbotron {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(stretch);
		@include justify-content(center);
		@include align-content(center);
		background-color: black;
		color: white;
		>.my-navbar {
			@include flex(0 1 auto);
			margin: 0;
			>.my-navbar-items {
				margin: 0;
				@media screen and (max-width: $small-dev) {
					padding: 0;
				}
			}
			ul {
				@include flexbox();
				@include flex-direction(row);
				@include align-items(stretch);
				@include justify-content(center);
				@include align-content(center);
				@include flex-wrap(wrap);
				list-style-type: none;
				li {
					@include flex(0 1 auto);
				  word-break: keep-all;
					word-wrap: normal;
					font-size: 14px;
					padding: 20px 15px;
					line-height: 300%;
					font-weight: bold;
					text-transform: uppercase;
					text-align: center;
					@media screen and (max-width: $small-dev) {
						@include flex(0 0 100%);
						padding: 5px 5px;
						font-size: 12px;
						line-height: 200%;
					}
					img {
						max-width: 60px;
						max-height: 60px;
					}
					&:first-child {
						@include flex(0 1 15%);
						text-align: left;
					}
					&:hover:not(:first-child) {
						cursor: pointer;
						transition: .3s;
						-webkit-transition: .3s;
						border-bottom: 5px solid $main-color-hover;
						}
				}
			}
		}
		.my-carousel {
			img {
				opacity: 0.5;
			}
			.my-caption {
				top: 30%;
 				bottom: auto;
				@media screen and (max-width: $small-dev) {
					top:10%;
				}
				h1, h3 {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 76px;
					@media screen and (max-width: $small-dev) {
						font-size: 20px;
					}
				}
				.my-h1-2 {
					color: $main-color-hover;
					@media screen and (max-width: $small-dev) {
						font-size: 12px;
					}
				}
				h3 {
					font-size: 26px;
					@media screen and (max-width: $small-dev) {
						font-size: 8px;
					}
				}
			}
			a {
				visibility: hidden;
			}
		}
	}

	.my-section2 {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		@include align-content(center);
		padding-bottom: 80px;
		.my-section2-content {
			@include flex(0 0 100%);
			@include flexbox();
			@include flex-direction(row);
			@include align-items(flex-start);
			@include justify-content(center);
			@include align-content(center);
			@include flex-wrap(wrap);
			.my-section2-content-left {
				@include flex(0 1 40%);
				@media screen and (max-width: $small-dev) {
					@include flex(0 1 80%);
				}
			}
			.my-section2-content-right {
				padding: 0 40px;
				@include flex(0 1 40%);
				@media screen and (max-width: $small-dev) {
					@include flex(0 1 80%);
					padding: 0;
				}
				.my-section2-content-right-container {
					background-color: rgb(0,0,0);
					position: relative;
					max-width: 600px;
					box-shadow: 10px 10px 40px 1px #888888;
					.my-section2-content-right-caption {
						position: absolute;
						display: block;
						width: 100%;
						text-align: center;
						transform: translateY(-50%);
						top: 50%;
						left: 0;
						h2 {
							color: #A9A9A9;
							text-transform: uppercase;
							transition: .3s;
							@media screen and (max-width: $small-dev) {
								font-size: 20px;
							}
							&:hover {
								color: white;
								cursor: pointer;
								transition: .3s;
							}
							i {
								padding: 0 20px;
							}
						}
					}
				}
			}
		}
	}

	.my-section3 {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		@include align-content(center);
		background-color: black;
		padding-bottom: 80px;
		.my-section-heading {
			h1 {
				color: white;
			}
		}
		.my-section3-content {
			@include flex(0 0 100%);
			@include flexbox();
			@include flex-direction(row);
			@include align-items(center);
			@include justify-content(center);
			@include align-content(center);
			@include flex-wrap(wrap);
			.my-section3-item {
				@include flex(0 1 23%);
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				@include justify-content(center);
				@include align-content(center);
				height: 250px;
				text-align: center;
				padding: 10px 40px;
				border-left: 1px solid gray;
				&:last-child {
					border-right: 1px solid gray;
					@media screen and (max-width: $small-dev) {
						border-right: none;
					}
				}
				@media screen and (max-width: $small-dev) {
					border-left: none;
					border-bottom: 1px solid gray;
				}
				i {
					color: $main-color-hover;
					padding: 20px 0;
					transition: .3s;
					&:hover {
						opacity: .5;
						cursor: pointer;
						transition: .3s;
					}
				}
				h4 {
					color: white;
					text-transform: uppercase;
					font-size: 20px;
				}
				p {
					color: $font-gray;
				}
			}
		}
	}

	.my-section4 {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		@include align-content(center);
		padding-bottom: 80px;
		.my-section4-content {
			@include flex(0 0 100%);
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
			@include align-content(center);
			.my-section4-tabs-nav {
				@include flex(0 1 20%);
				margin: 20px 0;
				background-color: #edebec;
				border-radius: 30px;
				border: 1px solid lightgray;
				li {
					padding: 0 20px;
					border-right: 1px solid lightgray;
					margin-bottom: .5px;
					a {
						color: black;
						border-bottom: 5px solid #edebec;
						padding: 10px;
						margin-bottom: 1px;
						height: 100%;
						text-transform: uppercase;
						&:hover {
							border-bottom: 5px solid $main-color-hover;
						}
					}
					a.active {
						background-color: #edebec;
						border: none;
						font-size: 16px;
						border-bottom: 5px solid $main-color-hover;
					}
					&:last-child {
						border-right: none;
					}
				}
			}
			.my-section4-tabs {
				@include flex(0 0 70%);
				@include flexbox();
				@include flex-direction(row);
				@include align-items(center);
				@include justify-content(center);
				@include align-content(center);
				.my-tab-pane {
					@include flex(0 1 80%);
					.my-section4-tab {
						@include flexbox();
						@include flex-direction(row);
						@include align-items(center);
						@include justify-content(center);
						@include align-content(center);
						@include flex-wrap(wrap);
						.my-pic {
							margin: 10px 10px;
							@include flex(0 1 23%);
							min-width: 200px;
							min-height: 100px;
							max-width: 300px;
							max-height: 200px;
							div {
								div {
									display: none;
								}
							}
							&:hover {
								cursor: pointer;
								div {
									position: relative;
									div {
										color: white;
										background-color: rgba(0,0,0, .7);
										width: 100%;
										height: 100%;
										text-align: center;
										position: absolute;
										top: 50%;
										transform: translateY(-50%);
										-moz-transform: translateY(-50%);
										-webkit-transform: translateY(-50%);
										display: block;
										padding-top: 20%;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.my-section5 {
		&:before {
			position: absolute;
			top : 0;
			left: 0;
			content: "";
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0, .75);
			display: block;
		}
		position: relative;
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(stretch);
		@include justify-content(center);
		@include align-content(center);
		background-image: url('../images/build/sec5back.jpg');
		background-size: cover;
		width: 100%;
		height: 100%;
		color: white;
		.my-section5-heading {
			@include flex(0 1 20%);
			padding: 40px 0 30px 0;
			z-index: 1;
		}
		.my-carousel {
			@include flex(0 1 80%);
			a {
				visibility: hidden;
			}
			div {
				padding-bottom: 30px;
				div {
					.my-carousel-item-content {
						@include flexbox();
						@include flex-direction(row);
						@include align-items(center);
						@include justify-content(center);
						@include align-content(center);
						@include flex-wrap(wrap);
						.my-carousel-item-content1, .my-carousel-item-content2, .my-carousel-item-content3 {
							@include flex(0 0 25%);
							padding: 15px;
							margin: 0 15px;
							border-radius: 5px;
							background-color: white;
							color: black;
							@media screen and (max-width: $small-dev) {
								@include flex(0 1 80%);
								background-color: initial;
								color: white;
								height: 30%;
								border: 1px solid lightgray;
								margin: 10px;
							}
							img {
								max-width: 200px;
								max-height: 200px;
								padding: 20px;
								background-color: lightgray;
								margin: 40px 0;
								@media screen and (max-width: $small-dev) {
									max-width: 100px;
									max-height: 100px;
									padding: 5px;
								}
							}
							img, h4, p, .my-icons {
								text-align: center;
								i {
									padding: 5px 5px;
									&:hover {
										color: $main-color-hover;
										cursor: pointer;
									}
								}
								@media screen and (max-width: $small-dev) {
									font-size: smaller;
								}
							}
							h4 {
								font-size: 18px;
								margin: 0;
							}
							p {
								color: gray;
							}
							.my-icons {
								margin: 30px 0;
								@media screen and (max-width: $small-dev) {
									margin: 10px 0;
								}
							}
						}
					}
				}
			}
		}
	}

	.my-section6 {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(stretch);
		@include justify-content(center);
		@include align-content(center);
		.my-carousel {
			padding: 10px 0 50px 0;
			ol {
				li {
					background-color: gray;
				}
				.active {
					background-color: black;
				}
			}
			@include flex(0 1 100%);
			a {
				visibility: hidden;
			}
			div {
				div {
					.my-carousel-item-content {
						@include flexbox();
						@include flex-direction(column);
						@include align-items(center);
						@include justify-content(center);
						@include align-content(center);
						@include flex-wrap(wrap);
						color: black;
						@media screen and (max-width: $small-dev) {
							@include flex(0 1 100%);
							height: 30%;
							border: 1px solid lightgray;
						}
						img {
							@include flex(0 1 60%);
							max-width: 170px;
							max-height: 170px;
							padding: 10px;
							background-color: lightgray;
							margin: 20px 0;
							@media screen and (max-width: $small-dev) {
								max-width: 140px;
								max-height: 140px;
								padding: 5px;
								}
						}
						img, h3, h4, p {
							text-align: center;
						}
						h3 {
							@include flex(0 1 10%);
							font-weight: bold;
						}
						h4 {
							@include flex(0 1 10%);
							font-size: 16px;
						}
						h1 {
							@include flex(0 1 10%);
							font-size: 80px;
							@media screen and (max-width: $small-dev) {
								font-size: 50px;
								}
						}
						p {
							@include flex(0 1 10%);
							color: gray;
							width: 60%;
							@media screen and (max-width: $small-dev) {
								width: 80%;
							}
						}
					}
				}
			}
		}
	}

	.my-section7 {
		@include flex(0 0 100%);
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		padding: 30px 0;
	}

	.my-section8 {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(stretch);
		@include justify-content(center);
		@include align-content(center);
		padding-bottom: 40px;
		.my-section8-pricing {
			@include flex(0 0 100%);
			@include flexbox();
			@include flex-direction(row);
			@include align-items(center);
			@include justify-content(center);
			@include align-content(center);
			@include flex-wrap(wrap);
			width: 90%;
			margin: 0 auto;
			.my-section8-plan {
				@include flex(0 0 20%);
				@media screen and (max-width: $small-dev) {
					@include flex(0 1 90%);
				}
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				@include justify-content(center);
				@include align-content(center);
				background-color: white;
				margin: 15px;
				padding: 20px 0;
				border-radius: 5px;
				p, div {
					text-align: center;
				}
				>p {
					font-size: 14px;
				}
				.my-section8-plan-price {
					h2 {
						font-weight: bold;
					}
					p {
						color: gray;
						line-height: 2%;
						font-size: 12px;
					}
				}
				.my-section8-plan-text {
					padding: 20px 0;
					color: gray;
					font-size: 12px;
					line-height: 2%;
				}
				.my-section8-button {
					margin: 10px 0;
					background-color: #2c2d30;
					&:hover {
						background-color: $main-color-hover;
					}
				}
			}
		}
	}

	.my-section9 {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(stretch);
		@include justify-content(center);
		@include align-content(center);
		padding-bottom: 40px;
		width: 90%;
		margin: 0 auto;
		button {
			width: 20%;
			margin: 20px auto;
			@media screen and (max-width: $small-dev) {
				width: 50%;
			}
		}
		.my-carousel {
			@include flex(0 1 100%);
			padding: 10px 0 50px 0;
			a {
				visibility: hidden;
			}
			ol {
				li {
					background-color: gray;
				}
				.active {
					background-color: black;
				}
			}
			div {
				div {
					.my-carousel-item-content {
						@include flexbox();
						@include flex-direction(row);
						@include align-items(center);
						@include justify-content(center);
						@include align-content(center);
						@include flex-wrap(wrap);
						border-bottom: 1px solid gray;
						padding-bottom: 20px;
						img {
							@include flex(0 1 35%);
							max-height: 70%;
							@media screen and (max-width: $small-dev) {
								@include flex(0 1 90%);
							}
						}
						.my-carousel-item-content-right {
							@include flex(0 1 50%);
							@media screen and (max-width: $small-dev) {
								@include flex(0 1 90%);
							}
							@include flexbox();
							@include flex-direction(column);
							@include align-items(center);
							@include justify-content(center);
							@include align-content(center);
							.my-carousel-item {
								@include flexbox();
								@include flex(0 1 100%);
								@include flex-direction(row);
								@include align-items(flex-start);
								@include justify-content(flex-start);
								@include align-content(flex-start);
								@include flex-wrap(nowrap);
								width: 100%;
								.my-carousel-icon {
									@include flex(0 1 15%);
									color: $main-color-hover;
									padding-right: 10px;
								}
								.my-carousel-text {
									h2 {
										text-transform: uppercase;
									}
									p {
										color: gray;
									}
									@include flex(0 1 80%);
								}
							}
						}
					}
				}
			}
		}
	}

	.my-section10 {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(stretch);
		@include justify-content(center);
		@include align-content(center);
		background-color: black;
		padding-bottom: 60px;
		.my-section-heading {
			color: white;
			p {
				color: gray;
			}
		}
		.my-section10-facts {
			@include flex(0 0 100%);
			@include flexbox();
			@include flex-direction(row);
			@include align-items(flex-start);
			@include justify-content(center);
			@include align-content(center);
			@include flex-wrap(wrap);
			.my-section10-fact {
				@include flex(0 0 20%);
				margin: 0 20px;
				text-align: center;
				@media screen and (max-width: $small-dev) {
					@include flex(0 0 80%);
				}
				h2 {
					letter-spacing: -3px;
					line-height: 20px;
				}
				h1 {
					color: $main-color-hover;
					font-size: 50px;
				}
				h4 {
					color: white;
					text-transform: uppercase;
					margin-bottom: 30px;
				}
				h1, h2, h4 {
					font-weight: bold;
				}
				p, h2 {
					color: lightgray;

				}
				h2, h1 {
					margin: 0;
				}
			}
		}
	}

	.my-section11 {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
		@include align-content(center);
		@include flex-wrap(wrap);
		border-bottom: 1px solid gray;
		.my-section11-icon:not(:first-child) {
			@include flex(0 0 8%);
			padding: 20px 5px;
			@media screen and (max-width: $small-dev) {
				@include flex(0 0 80%);
			}
			div {
				color: white;
				display: inline-block;
				text-align: center;
				border-radius: 50%;
				padding: 5px;
				height: 40px;
				width: 40px;
				@media screen and (max-width: $small-dev) {
					width: 100px;
					height: 100px;
					display: block;
					margin: 0 auto;
				}
				i {
					line-height: 150%;
					font-size: 20px;
					@media screen and (max-width: $small-dev) {
						font-size: 40px;
						line-height: 210%;
					}
				}
				&:hover {
					opacity: .5;
					cursor: pointer;
					i {
						color: black;
					}
				}
			}
			p {
				display: inline;
				font-size: 12px;
				color: gray;
				@media screen and (max-width: $small-dev) {
					display: block;
					text-align: center;
				}
			}
		}
		.my-section11-icon:first-child {
			@include flex(0 0 20%);
			padding: 30px 5px;
			@media screen and (max-width: $small-dev) {
				@include flex(0 0 80%);
			}
			div {
				display: inline-block;
				text-align: center;
				@media screen and (max-width: $small-dev) {
					display: block;
					margin: 0 auto;
				}
			}
			i {
				line-height: 100%;
				font-size: 30px;
				color: gray;
			}
			p {
				display: inline;
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
				color: gray;
				padding-left: 10px;
				@media screen and (max-width: $small-dev) {
					display: block;
					text-align: center;
				}
			}
		}
		.my-section11-icon:nth-child(2) {
			div {
				background-color: #34C5F1;
			}
		}
		.my-section11-icon:nth-child(3) {
			div {
				background-color: #127DB5;
			}
		}
		.my-section11-icon:nth-child(4) {
			div {
				background-color: #336296;
			}
		}
		.my-section11-icon:nth-child(5) {
			div {
				background-color: #E84138;
			}
		}
		.my-section11-icon:nth-child(6) {
			div {
				background-color: #B91D28;
			}
		}
	}

	.my-section12 {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		@include align-content(center);
		@include flex-wrap(nowrap);
		padding-bottom: 80px;
		.my-section12-form {
			@include flex(0 0 100%);
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
			@include align-content(center);
			@include flex-wrap(nowrap);
			width: 100vw;
			.my-section12-nameEmail {
				@include flex(0 0 40%);
				@include flexbox();
				@include flex-direction(row);
				@include align-items(center);
				@include justify-content(center);
				@include align-content(center);
				@include flex-wrap(wrap);
				width: 100vw;
				input {
					width: 20%;
					border: none;
					border-bottom: 2px solid #AEAEAE;
					background-color: $sub-bg-color;
					margin-bottom: 30px;
					border-radius: 0;
					@media screen and (max-width: $small-dev) {
						width: 80vw;
					}
					&:last-child {
						margin-left: 3%;
						@media screen and (max-width: $small-dev) {
							margin-left: 0;
						}
					}
				}
			}
			.my-section12-other {
				@include flex(0 0 40%);
				@include flex-direction(column);
				@include align-items(center);
				@include justify-content(center);
				@include align-content(center);
				@include flex-wrap(wrap);
				width: 100vw;
				input {
					margin: 0 auto;
					width: 43%;
					@media screen and (max-width: $small-dev) {
						width: 80vw;
					}
					border: none;
					border-bottom: 2px solid #AEAEAE;
					background-color: $sub-bg-color;
					border-radius: 0;
					&:last-child {
						margin-top: 60px;
						@media screen and (max-width: $small-dev) {
							width: 80vw;
						}
					}
				}
			.my-section12-button {
				margin-top: 60px;
				}
			}
		}
	}

	.my-section13 {
		&:after {
			position: absolute;
			top : 0;
			left: 0;
			content: "";
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0, .2);
			display: block;
		}
		position: relative;
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(flex-start);
		@include align-content(center);
		@include flex-wrap(wrap);
		background-image: url('../images/build/map.jpg');
		background-size: cover;
		padding: 50px 0 50px 150px;
		.my-section13-contact {
			z-index: 1;
			@include flex(0 0 45%);
			padding: 45px 10px 45px 30px;
			background-color: white;
			div {
				margin-bottom: 5px;
				div {
					background-color: lightgray;
					color: white;
					display: inline-block;
					text-align: center;
					border-radius: 50%;
					height: 42px;
					width: 42px;
					margin-right: 20px;
					i {
						padding: 3px;
						font-size: 24px;
						line-height: 140%;
					}
				}
				p {
					color: gray;
					display: inline;
					font-size: 14px;	
				}
			}
		}
	}

	.my-section-footer {
		@include flex(0 1 90%);
		@include flexbox();
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
		@include align-content(center);
		@include flex-wrap(wrap);
		background-color: black;
		padding: 30px 0;
		.my-section-footer-item1 {
			@include flex(0 1 30%);
			@media screen and (max-width: $small-dev) {
				@include order(3);
				margin-top: 20px;
			}
			height: 100%;
			@include flexbox();
			@include flex-direction(column);
			@include align-items(flex-start);
			@include justify-content(space-between);
			@include align-content(center);
			@include flex-wrap(wrap);
			color: white;
			.my-footer-icons {
				div {
					background-color: #414347;
					line-height: 190%;
					font-size: 18px;
					display: inline-block;
					text-align: center;
					border-radius: 50%;
					height: 35px;
					width: 35px;
					margin-right: 2px;
					@media screen and (max-width: $small-dev) {
						height: 30px;
						width: 30px;
						line-height: 160%;
					}
					&:hover {
						background-color: $main-color-hover;
						cursor: pointer;
					}
				}
			}
		}
		p {
			@media screen and (max-width: $small-dev) {
				margin-top: 10px;
				font-size: 12px;
			}
		}
		.my-section-footer-item2 {
			@include flex(0 1 25%);
			height: 100%;
			color: gray;
			margin: 0 15px;
			p {
				font-size: 14px;	
			}
		}
		.my-section-footer-item3 {
			background-color: #414347;
			@include flex(0 1 25%);
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
			@include align-content(center);
			height: 100%;
			text-align: center;
			border-radius: 4px;
			input {
				@include flex(0 1 auto);
				color: gray;
				margin: 0 auto;
				width: 60%;
				text-align: center;
				border: none;
				border-bottom: 2px solid #AEAEAE;
				background-color: #414347;
				border-radius: 0;
				@media screen and (max-width: $small-dev) {
					font-size: smaller;
				}
			}
		}
		.my-section-footer-item1, .my-section-footer-item2, .my-section-footer-item3{
			@media screen and (max-width: $small-dev) {
				@include flex(0 1 80%);
				height: auto;
			}
		}
	}

	.my-section2, .my-section4, .my-section6, .my-section8, .my-section12 {
		background-color: $sub-bg-color;
	}
}

.my-jumbo-button {
	background-color: $main-color-hover;
	color: white;
	text-transform: uppercase;
	padding: 10px 40px;
	border: none;
	border-radius: 35px;
	margin: 20px 0;
	font-size: 16px;
	font-weight: bold;
	&:hover {
		background-color: rgba($main-color-hover, .5);
		color: white;
		cursor: pointer;
	}
	@media screen and (max-width: $small-dev) {
		padding: 5px 20px;
		margin: 10px 0;
		font-size: 10px;
	}
}

.my-section12-button {
	@extend .my-jumbo-button;
	margin-top: 50px;
}

.my-section-heading {
	padding: 70px 0 30px 0;
	text-align: center;
	@media screen and (max-width: $small-dev) {
		padding: 10px 0 10px 0;
	}
	h1 {
		text-transform: uppercase;
		font-weight: 700;
		@media screen and (max-width: $small-dev) {
			padding: 10px 0 10px 0;
			font-size: 25px;
		}
	}
	p {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		color: $font-gray;
	}
}
